/*Resetea todos los valores de la pagina*/
*{
	margin: 0; /*Quita margenes*/
	padding: 0; /*Quita los espacios de relleno de cada elemento de la pagina*/
	box-sizing: border-box; /* Hace que el padding y el border pasen a formar parte del calculo del ancho de la caja y no 
	lo suman posteriormente*/
}

/*Configura la etiqueta body de la pagina*/
body{
	background: #737881; /*Coloca un color de fondo a la pagina*/
	font-family: Verdana,Geneva,Tahoma,sans-serif; /*Define una lusta de fuentes con un orden de prioridad para utilizar en un elemento 
	seleccionado*/

}

header{
	width: 100%;
	/*Color de fondo footer*/
	background: #737881;
	/*Color de letra footer*/
	color: white;
	margin-top: 20px;
	margin-bottom: 20px;
}


/*Configuramos la etiqueta main de la pagina*/
.main{
	width: 100%; /*Determinamos la anchura del area de contenido de un elemento (vw - viewport-width: Anchura de la ventana grafica, 
	sus valores se expresan en porcentajes de 0 a 100) - "Va de la mano con el margen auto"*/
	margin: auto; /*Determinamos el margen para los cuatro lados*/
	display: flex; /*Ayuda a colocar las cajas como si fueran celdas de una tabla (una al lado de la otra)*/
	justify-content: center; /*Define como el navegador distribuye el espacio entre y alrededor de los items flex*/
	margin-bottom: 100px;
}

/*Configuramos la etiqueta titulo*/
.titulo{
	padding: 15px;
	width: 30vw;
	margin: auto;
}

/*Configuramos los bloques form box y msg box llamando a solo a .box*/
.box{
	padding: 10px;
	margin: 0 10px 0 10px;
	box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.2); /*Añade un efecto de sombra a bloques*/
	background-color: white; /*Color de fondo a los bloques*/
	border-radius: 0.5em; /*Redonde las puntas de los bloques*/
	width: 30vw;
	height: auto; /*Especifica la altuna del area de contenido*/
} 

/*Configuramos los botones*/
.btn{
	border:0; /*Quitamos el borde de los botones con 0 o 1 si lo queremos volver a poner*/
	color: white; /*Color del texto de los botones*/
	font-weight: bold; /*Aplicamos negrita al texto del boton*/
	background-color: #202020; /*Aplicamos color al fondo del boton*/
	padding: 10px;
	margin-top: 10px; /*Aplicamos margen superior*/
	border-radius: 0.5em;
}

/*Configuramos las cajas de texto*/
.text-input{
	border-radius: 0.5em;
	border: 1px solid rgba(0,0,0,0.2); /*Configuramos el tamaño, tipo y color del borde*/
	display: block; /*Pone el bloque en una linea nueva*/
	padding: 0.5em;
	width: 100%; /*Configura la anchura para que sea el 100% del bloque*/
	height: 50px; /*Configuro la altuna de la caja de texto*/
}

footer{
	/*Ancho footer*/
	width: 100%;
	/*Color de fondo footer*/
	background: #202020;
	/*Color de letra footer*/
	color: white;

}

.container-footer-all{
	/*Ancho para el contenedor total del footer*/
	width: 100%;
	/*Ancho maximo para el contenedor total del footer*/
	max-width: 1200px;
	/*Margen siempre centrado para el contenedor total del footer*/
	margin: auto;
	padding: 40px;
}

.container-body{
	/*Para que todos los div contenidos en container-body esten uno al lado del otro*/
	display: flex;
	/*Centramos todos los contenidos de container-body*/
	/*justify-content: center;*/
	/*Todos los elementos ocupen el 100% de espacio dado por container-body*/
	justify-content: space-between;
}

.columna1{
	max-width: 400px;
}

.columna1 h1{
	/*Tamaño de fuente para el h1 de la columna1*/
	font-size: 22px;
}

.columna1 p{
	/*Tamaño de fuente para el p de la columna1*/
	font-size: 14px;
	/*Color de fuente para el p de la columna1*/
	color: #C7C7C7;
	/*Margen superior para el p de la columna1*/
	margin-top: 20px;
}

.columna2{
	max-width: 400px;
}

.columna2 h1{
	font-size: 22px;
}

.columna2 .row{
	margin-top: 15px;
	display: flex;
}

.row img{
	width: 36px;
	height: 36px;
}

.row label{
	margin-top: 8px;
	margin-left: 20px;
	color: #C7C7C7;
}

.columna3{
	max-width: 400px;
}

.columna3 h1{
	font-size: 22px;
}

.row2{
	margin-top: 20px;
	display: flex;
}

.row2 img{
	width: 36px;
	height: 36px;
}

.row2 label{
	margin-top: 10px;
	margin-left: 20px;
	max-width: 150px;
}

.container-footer{
	width: 100%;
	background: #101010;
}

.piedepagina{
	max-width: 1200px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.copyright{
	color: #C7C7C7;
}

.copyright a{
	/*Quita el sibrayado del hipervinculo*/
	text-decoration: none;
	/*Color fuente*/
	color: white;
	/*Negrita a la fuente*/
	font-weight: bold;
}

.information{
	color: black;
}

@media screen and (max-width: 900px){
	.container-body{
		/*cuando llega a los 900 de ancho se pone todo en bloque*/
		/*display:block;*/
		/*cuando llega a los 900 comienza de apoco a reordenarse hasta llegarse a hacer un bloque*/
		flex-wrap: wrap;
	}

	.columna1{
		max-width: 100%;
	}
	.columna2, .columna3{
		margin-top: 40px;
	}
}
